
@{
    ViewData["Title"] = "BoiLoi";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model List<TblPosts>;

<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mục Thể Thao - Thanh Niên</title>
    <style>
        /* Custom CSS */
        .img-size {
            width: 100%;
            height: auto;
        }

        .img-size2 {
            width: auto;
            height: 100%;
        }

        .img-size3 {
            width: 142px;
            height: 88.75px;
        }
        /* scrollbar */
        ::-webkit-scrollbar {
            width: 4px; /* Width of the scrollbar */
        }

        /* Track (the area on the sides of the scrollbar) */
        ::-webkit-scrollbar-track {
            background: #f1f1f1; /* Color of the track */
        }

        /* Handle (the draggable part of the scrollbar) */
        ::-webkit-scrollbar-thumb {
            background: #888; /* Color of the handle */
        }

            /* Handle on hover */
            ::-webkit-scrollbar-thumb:hover {
                background: #555; /* Color on hover */
            }

        .content-scrollbar {
            width: auto;
            height: 480px; /* Set a fixed height to make the scrollbar appear */
            overflow-y: auto;
            padding-right: 20px;
            overflow-x: hidden;
        }

        .content-img {
            width: auto; /* Đặt kích thước của div container, thay đổi theo nhu cầu */
            height: auto; /* Đặt kích thước của div container, thay đổi theo nhu cầu */
            position: relative; /* Cần thiết để hình ảnh có thể trải đều theo kích thước của div container */
        }
    </style>
</head>
<div class="content-img">
    <a href="https://huflit.edu.vn/">
        <img src="~/img/quangcao.png" class="img-fluid" alt="Quảng cáo" />
    </a>

</div>
<h3 class="mt-3">TIN NÓNG NHẤT</h3>
<div class="mt-3">
    <div class="row border-top border-bottom">
        <!-- Khung trái -->
        <div class="col-md-8 border-right p-3">
            <img class="img-size" src="https://images2.thanhnien.vn/zoom/736_460/528068263637045248/2023/9/29/z4738914764397998e5435f91af4f0951532a6c9452869-16959967085981397275579-0-0-1250-2000-crop-16959968832622145030048.jpg" />
            <div>
                @{
                    var pram1 = new Dictionary<string, string>
                {{"id", Model[0].IdPost.ToString() } };
                }
                <a class="text-center text-primary h3" asp-area="" asp-controller="Home" asp-all-route-data=pram1 asp-action="DetailsBaiBao">@Model[0].Title</a>
            </div>
        </div>
        <div class="col-md-4 p-3">
            <div class="mb-3">
                <img class="img-size" src="https://images2.thanhnien.vn/zoom/351_219/528068263637045248/2023/5/21/anbh-vien-kha-hoa-1-16846481996691186360322-0-0-1250-2000-crop-16846484189742101608038.jpg" />
                @{
                    var pram2 = new Dictionary<string, string>
                {{"id", Model[0].IdPost.ToString() } };
                }
                <a class="text-center text-primary h3" asp-area="" asp-controller="Home" asp-all-route-data=pram2 asp-for="id" asp-action="DetailsBaiBao">@Model[1].Title</a>
            </div>
            <hr />
            <div>
                <img class="img-size" src="https://images2.thanhnien.vn/zoom/351_219/528068263637045248/2023/5/14/avatar1684072120941-1684072121241825022842.jpeg" />
                @{
                    var pram3 = new Dictionary<string, string>
                {{"id", Model[0].IdPost.ToString() } };
                }
                <a class="text-center text-primary h3" asp-area="" asp-controller="Home" asp-all-route-data=pram3 asp-for="id" asp-action="DetailsBaiBao">@Model[2].Title</a>
            </div>
    </div>
    <div>
        <h3 class="mt-3">TIN TRONG TUẦN</h3>
        <div class="mt-3 row">
            <div class="col-md-8">
                <div>
                    <div class="d-flex border-bottom pb-3 pt-3">
                        <div class="col-md-5 d-flex align-items-center justify-content-center">
                            <img class="img-size" src="https://images2.thanhnien.vn/zoom/328_205/Uploaded/gianglao/2019_12_07/avhcv_GFFF.jpg" />
                        </div>
                        <div class="col-md-7 ">
                            <h4>Bơi lội</h4>
                            <h5>Bơi lội SEA Games: Ánh Viên vượt mặt siêu kình ngư Joseph Schooling</h5>
                            <p>Tối nay 7.12, nữ kình ngư số 1 Việt Nam (VN), Nguyễn Thị Ánh Viên tiếp tục thi đấu bùng nổ để lập thêm cú đúp HCV, khi chiến thắng thuyết phục ở 2 nội dung sở trường 400m tự do và 100m ngửa, qua đó nâng tổng số HCV đoạt được đến nay lên con số 5 HCV và 1 HCB.</p>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="d-flex border-bottom pb-3 pt-3">
                        <div class="col-md-5 d-flex align-items-center justify-content-center">
                            <img class="img-size" src="https://images2.thanhnien.vn/zoom/328_205/Uploaded/gianglao/2019_12_07/anhvienhcv_IHXV.jpg" />
                        </div>
                        <div class="col-md-7 ">
                            <h4>Bơi lội</h4>
                            <h5>Bơi lội SEA Games: Ánh Viên đối thủ là chính mình</h5>
                            <p>Với 3 chiếc HCV đã đoạt ở các nội dung 200m tự do, 200m ngửa và 200m cá nhân hỗn hợp, nữ kình ngư số 1 Việt Nam, Nguyễn Thị Ánh Viên vẫn còn 5 nội dung thi đấu nữa để hoàn tất chỉ tiêu đoạt 8 HCV của mình tại SEA Games 30 ..</p>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="d-flex border-bottom pb-3 pt-3">
                        <div class="col-md-5 d-flex align-items-center justify-content-center">
                            <img class="img-size" src="https://thanhnien.mediacdn.vn/zoom/328_205/Uploaded/thaopn/2017_08_26/21124777_10212237200339095_1042265594_o_klxe_DCJZ.jpg" />
                        </div>
                        <div class="col-md-7 ">
                            <h4>Bơi lội</h4>
                            <h5>Bơi lội ngày 26.8: Ánh Viên tái lập kỳ tích, Huy Hoàng lật đổ đàn anh</h5>
                            <p>
                                Nguyễn Thị Ánh Viên tái lập kỳ tích giành 8 huy chương vàng, kình ngư 17 tuổi Nguyễn Huy Hoàng lật đổ đàn anh Lâm Quang Nhật - đó là những điểm nhấn cuối cùng của đội tuyển bơi lội Việt Nam ở SEA Games 29.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 p-3">
                <a href="https://vn.grandsurgery.com/">
                    <img class="img-size" src="https://i.pinimg.com/originals/ed/e8/89/ede8892e9d2c1d8510a48772efc591a1.jpg" />
                </a>
            </div>
        </div>
        <div class="d-flex">
            <a class="mr-2" href="https://vn.grandsurgery.com/">
                <img class="img-size" src="https://i.pinimg.com/originals/ed/e8/89/ede8892e9d2c1d8510a48772efc591a1.jpg" />
            </a>
            <a class="mr-2" href="https://vn.grandsurgery.com/">
                <img class="img-size" src="https://i.pinimg.com/originals/ed/e8/89/ede8892e9d2c1d8510a48772efc591a1.jpg" />
            </a>
            <a class="mr-2" href="https://vn.grandsurgery.com/">
                <img class="img-size" src="https://i.pinimg.com/originals/ed/e8/89/ede8892e9d2c1d8510a48772efc591a1.jpg" />
            </a>
        </div>
    </div>
</div>
        </div>

    </div>
