
@{
    ViewData["Title"] = "CauLong";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mục Thể Thao - Thanh Niên</title>
    <style>
        /* Custom CSS */
        .img-size {
            width: 100%;
            height: auto;
        }

        .img-size2 {
            width: auto;
            height: 100%;
        }

        .img-size3 {
            width: 142px;
            height: 88.75px;
        }
        /* scrollbar */
        ::-webkit-scrollbar {
            width: 4px; /* Width of the scrollbar */
        }

        /* Track (the area on the sides of the scrollbar) */
        ::-webkit-scrollbar-track {
            background: #f1f1f1; /* Color of the track */
        }

        /* Handle (the draggable part of the scrollbar) */
        ::-webkit-scrollbar-thumb {
            background: #888; /* Color of the handle */
        }

            /* Handle on hover */
            ::-webkit-scrollbar-thumb:hover {
                background: #555; /* Color on hover */
            }

        .content-scrollbar {
            width: auto;
            height: 480px; /* Set a fixed height to make the scrollbar appear */
            overflow-y: auto;
            padding-right: 20px;
            overflow-x: hidden;
        }

        .content-img {
            width: auto; /* Đặt kích thước của div container, thay đổi theo nhu cầu */
            height: auto; /* Đặt kích thước của div container, thay đổi theo nhu cầu */
            position: relative; /* Cần thiết để hình ảnh có thể trải đều theo kích thước của div container */
        }
    </style>
</head>
<div class="content-img">
    <a href="https://huflit.edu.vn/">
        <img src="~/img/quangcao.png" class="img-fluid" alt="Quảng cáo" />
    </a>

</div>
<h3 class="mt-3">TIN NÓNG NHẤT</h3>
<div class="mt-3">
    <div class="row border-top border-bottom">
        <!-- Khung trái -->
        <div class="col-md-8 border-right p-3">
            <img class="img-size" src="https://cdnmedia.webthethao.vn/thumb/525-445/uploads/Chau-La/bad-cupdongdoi-2004%20(2).jpg" />
            <div>
                <a class="text-center text-primary h3" asp-area="" asp-controller="Home" asp-action="">Cầu lông đồng đội nam nữ hỗn hợp quốc gia năm 2024: Bắc Giang xuất sắc vô địch</a>
            </div>
        </div>
        <div class="col-md-4 p-3">
            <div class="mb-3">
                <img class="img-size" src="https://cdnmedia.webthethao.vn/thumb/250-165/uploads/Chau-La/bad-nguyenthuylinh-thienkim-dongnai-hanoi-1904.JPG" />
                <a class="text-center">Cầu lông đồng đội nam nữ hỗn hợp quốc gia năm 2024: Nguyễn Thùy Linh toàn thắng, Đồng Nai giành hạng 3</a>
            </div>
            <hr />
            <div>
                <img class="img-size" src="https://cdnmedia.webthethao.vn/thumb/250-165/uploads/Chau-La/bad-nguyenthuylinh-1904.JPG" />
                <a class="text-center">Trực tiếp Giải vô địch cầu lông đồng đội nam nữ hỗn hợp quốc gia năm 2024 – Tranh cúp Kamito hôm nay 19/04.</a>
        </div>
    </div>
</div>
<div>
    <h3 class="mt-3">TIN TRONG TUẦN</h3>
    <div class="mt-3 row">
        <div class="col-md-8">
                @for (int i = 3; i < Model.Count; i++)
                {

                    var pram = new Dictionary<string, string>
                {{"id", Model[i].IdPost.ToString() } };



                    <div>
                        <div class="d-flex border-bottom pb-3 pt-3">
                            <div class="col-md-5 d-flex align-items-center justify-content-center">
                                <img class="img-size" src="https://cdnmedia.webthethao.vn/thumb/250-170/uploads/Chau-La/bad-kentomomota-1804.jpg" />
                            </div>
                            <div class="col-md-7 ">
                                <h4>Cầu lông</h4>
                                <a asp-area="" asp-controller="Home" asp-action="DetailsBaiBao" asp-all-route-data=pram><h5>@Model[i].Title</h5></a>
                            </div>
                        </div>
                    </div>
                }

            
            
            
        </div>
        <div class="col-md-4 p-3">
            <a href="https://vn.grandsurgery.com/">
                <img class="img-size" src="https://i.pinimg.com/originals/ed/e8/89/ede8892e9d2c1d8510a48772efc591a1.jpg" />
            </a>
        </div>
    </div>
    <div class="d-flex">
        <a class="mr-2" href="https://vn.grandsurgery.com/">
            <img class="img-size" src="https://i.pinimg.com/originals/ed/e8/89/ede8892e9d2c1d8510a48772efc591a1.jpg" />
        </a>
        <a class="mr-2" href="https://vn.grandsurgery.com/">
            <img class="img-size" src="https://i.pinimg.com/originals/ed/e8/89/ede8892e9d2c1d8510a48772efc591a1.jpg" />
        </a>
        <a class="mr-2" href="https://vn.grandsurgery.com/">
            <img class="img-size" src="https://i.pinimg.com/originals/ed/e8/89/ede8892e9d2c1d8510a48772efc591a1.jpg" />
        </a>
    </div>
</div>
            </div>
        </div>

    </div>
